.jumbotron {
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    background-color: lightgrey;
    opacity: .7;
    width: 100%;
}

.navbar {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#jumbo {
    padding: 0;
}