.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    width:100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    /*background-color: #e1e1e1;*/
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin-bottom: .5em;
}


.column.one {
    width: 100%;
}

.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33.33%;
}

.column.one-quarter {
    width: 25%;
}

.column.one-sixth {
    width: 16.66%;
}

.column.one-fifth {
    width: 20%;
}

.column.one-eight {
    width: 12.5%;
}

.column.one-twelfth {
    width: 8.33%;
}

.column.one-tenth {
    width: 10%;
}