body {
    font-family: sans-serif;
    padding: 2em;
}


.alert-info, h1, .nav-links{
        text-align: center;
    }

.alert-info {
    border: 1px solid lightgrey;
    background-color: #ceffff;
    padding: .5em;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: blue;
}

.nav-links, .social {
    list-style-type: none;
    padding: .5em;

}

li {
    padding: .5em;
    background-color: #cccccc;
    margin: .5em;
    text-decoration: underline;
}

img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.main, .sub-section {
    padding: 2em;
}

.sub-section {
    font-style: italic;
}

.social {
    float: right;
}


@media screen and (min-width:992px) {
    .alert-info {
    display: none;
    }

    h1 {
        float: left;
        position: absolute;
        top: 6%;

    }

    li {
        display: inline-block;
        float: right;
        margin: .5em;
        background-color: white;
    }

    img {
        max-width: 90%;
        clear: both;
    }

    .main {
        float: left;
        width: 70%;
    }

    .sub-section {
        float: right;
        width: 30%;
    }

    .main, .sub-section {
        padding: 0;
    }

    footer {
        width: 90%;
        position: absolute;
     bottom: -50%
    }

    #rights {
        width: 50%;
    }

    .social{
     position: absolute;
        top: -90%;
        right: .1em;
    }



}