body {
    font-family: sans-serif;
    padding: 2em;
}


.alert-info, h1, .nav-links{
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

.alert-info {
    border: 1px solid lightgrey;
    background-color: #ceffff;
    padding: .5em;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: blue;
}

.nav-links {
    list-style-type: none;
    padding: .5em 0;
    /*margin-top: 0;*/

}

.social {
    list-style-type: none;
    padding: .5em;
    background-color: white;

}


li {
    padding: .5em;
    background-color: #cccccc;
    margin: .5em 0;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main, .sub-section {
    padding: 2em;
}

.sub-section {
    font-style: italic;
}

.social {
    list-style-type: none;
    background-color: white;
    float: right;
    margin: 0;
}

.link{
    padding: 0em;
    width: 30px;
    height: 30px;
}

.links {
    background-color: white;
    display: inline-block;
}

.rights {
    float: left;
}

#rights {
    margin: 1.5em 0;
}

.links {
    float: right;
}




@media screen and (min-width:992px) {
    /*.alert-info {*/
    /*display: none;*/
    /*}*/

    .hidden-on-desktop {
        display: none;
    }


    h1 {
        float: left;
        position: absolute;
        top: 6%;

    }

    li {
        display: inline-block;
        float: right;
        /*margin: .5em;*/
        background-color: white;
    }

    img {
        max-width: 100%;
        clear: both;
    }

    .main {
        float: left;
        width: 70%;
    }

    .sub-section {
        float: right;
        /*width: 30%;*/
    }

    .main, .sub-section {
        padding: 0;
    }

    footer {

    }

    .rights {
        float: left;
    }

    .links {
        float: right;
    }

}

@media screen and (max-width:992px) {
    .column {
        width: 100% !important;
    }
}