body {
    --bg-info: #cedffe;
    --text-info: #5453a5;
    --bg-success: #d0f2db;
    --text-success: #4a9166;
    --bg-warning: #fcfacb;
    --text-warning: #8e7b26;
    --bg-error: #f9d3d7;
    --text-error: #b56979;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 0.7em;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-weight: bold;

}

.message-info {
    /*background: lightblue;*/
    /*color: blue;*/
    background: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    /*background-color: lightgreen;*/
    /*color: green;*/
    background: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    /*background-color: lightyellow;*/
    /*color: olive;*/
    background: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    /*background-color: lightpink;*/
    /*color: darkred;*/
    background: var(--bg-error);
    color: var(--text-error);
}