body {
    --bg-info: lightblue;
    --text-info: blue;
    --bg-success: lightgreen;
    --text-success: green;
    --bg-warning: lightyellow;
    --text-warning: olive;
    --bg-error: lightpink;
    --text-error: darkred;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 0.7em;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-weight: bold;

}

.message-info {
    /*background: lightblue;*/
    /*color: blue;*/
    background: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    /*background-color: lightgreen;*/
    /*color: green;*/
    background: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    /*background-color: lightyellow;*/
    /*color: olive;*/
    background: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    /*background-color: lightpink;*/
    /*color: darkred;*/
    background: var(--bg-error);
    color: var(--text-error);
}