p {
    background-color: lightblue;
    color: purple;
}

strong {
    background-color: yellow;
}

em {
    text-decoration: underline;
}

/*selects class*/
.beginend {
    background-color: lightpink;
}

/*selects id*/
#superduper {
    font-size:1.7em;
}

#important {
    text-decoration: overline;
}

.new {
    text-shadow: red;
    font-family: "Diwan Kufi";
    background-color: lightgreen;
}

/*id - class - element*/